<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css">
    <title></title>
  </head>

  <body>
    <div class="form-content">
          <h3 class="modal-title">Enter your details </h3>
        <br>
        <div>
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password">Password</label>
              <input type="password" name="password" required>
            </div>
            <br>
            <div>
              <button type="submit">Login</button>
            </div>
          </form>
          <br>
        </div>
        <br>
        <a class="signup-link" href='signup'>New user? Click here to sign up!</a>

  </body>
</html>
